{% extends "layout.html" %}
{% block content %}
<html itemscope itemtype="http://schema.org/Article">
<body>

     <div class = "child-div blue lighten-5 col s9 valign " style="margin: 0 auto" >
        <fieldset class="form-group">
            <br>
            <h4><b>Add new project</b></h4>

            <br>

        <form method="POST" action="{{ url_for('add_project') }}" enctype="multipart/form-data">
            <div class="form-group">
                <h6><b>Students</b></h6>
                    {% if submit_work_form.students.errors %}
                        {{ submit_work_form.students(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in submit_work_form.students.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ submit_work_form.students(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <br>

            <div class="form-group">
                <h6><b>Mentor</b></h6>
                    {% if submit_work_form.staff.errors %}
                        {{ submit_work_form.staff(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in submit_work_form.staff.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ submit_work_form.staff(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <br>

            <div class="form-group">
                <h6><b>Research topic</b></h6>
                    {% if submit_work_form.topic.errors %}
                        {{ submit_work_form.topic(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in submit_work_form.topic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ submit_work_form.topic(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <br>

            <div class="form-group">
                <h6><b>Department(s)</b></h6>
                    {% if submit_work_form.departments.errors %}
                        {{ submit_work_form.departments(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in submit_work_form.departments.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ submit_work_form.departments(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <br>

            <div class="form-group">
                 {{ submit_work_form.Document.label(class="form-control-label") }}
                 {% if submit_work_form.Document.errors %}
                     {{ submit_work_form.Document(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {% for error in submit_work_form.Document.errors %}
                             <span>{{ error }}</span>
                         {% endfor %}
                     </div>
                 {% else %}
                     {{ submit_work_form.Document(class="form-control form-control-lg") }}
                 {% endif %}
            </div>

            <div class="form-group">
            <a href = "{{ url_for('add_project') }}"> <b> {{ submit_work_form.submit(class="button-border hoverable waves-effect waves-light btn-large blue black-text") }} </b> </a>
            </div>
            </b></h4>
        </form>
    </fieldset>
</div>
    <hr>


    

    </body>
</html>

{% endblock content %}




