{% extends "layout.html" %}
{% block content %}

      <div class="row valign wrapper">
        <div class="col s4">
          <h3 class="account-heading black-text"><b>Welcome, </b>{{ student.name }}<br>
        </div>
      </div>

    <div class = "dim card amber accent-2 hoverable col s12">
        <fieldset class="form-group">
            <h4 class="brown-text-text darken-1"><b>Account Info: {{ student.name }}</b></h4>
            <hr>
            <br>

            <div class="form-group">
                <h5 class = "brown-text darken-1"><b>Email</b></h5>
                {{ student.email }}
            </div>
            <br>
        </fieldset>
    </div>

    <!--
    <div class="col s6">
        {% for papers in studentSubmissions %}
            <a href = "{{ url_for('static', filename= student.ID + organizer.photo1) }}"> <img class="circle responive-img account-img" src="{{ photo1 }}"> </a>
        { % endfor %} 
    </div>
    -->

{% endblock content %}
