{% extends "layout.html" %}
{% block content %}

<head>
    <script src="static/js/pdfobject.js"></script>
</head>

      <div class="row valign wrapper">
        <div class="col s4">
          <h3 class="account-heading black-text"><b>Welcome, </b>studentName
        </div>
      </div>
    <div class = "dim card blue lighten-5 col s12">
        <fieldset class="form-group">
            <br>
            <h4><b>Account Info</b></h4>
            <hr>
            <br>

            <div class="form-group">
                <h5><b>ID number</b></h5>
                ID number
            </div>
            <br>

            <div class="form-group">
                <h5><b>Department</b></h5>
                dummyDept
            </div>
            <br>

            <div class="form-group">
                <h5><b>Email</b></h5>
                studentEmail
            </div>
            <br>

        </fieldset>
    </div>
    <hr>
    <div class = "dim card blue lighten-5 col s12">
        <fieldset class="form-group">
            <br>
            <!-- if list of WIP or work published is non empty, do the following: -->
            <div class="form-group">
                <h5><b>Research Paper 1</b></h5>
                <b> Status: </b> In progress <br>
                <script>PDFObject.embed("C:/Users/Nidhee/Desktop/FourthYearResources/OE.pdf", "#paper1");</script>
            </div>
            <br>
        </fieldset>
    </div>

{% endblock content %}




