{% extends "layout.html" %}
{% block content %}

<head>
    <script src="static/js/pdfobject.js"></script>
</head>

      <div class="row valign wrapper">
        <div class="col s4">
          <h3 class="account-heading black-text"><b>Welcome, </b>studentName
        </div>
      </div>
    <div class = "dim card blue lighten-5 col s6">
        <fieldset class="form-group">
            <br>
            <h4><b>Account Info</b></h4>
            <hr>
            <br>

            <div class="form-group">
                <h5><b>ID number</b></h5>
                ID number
            </div>
            <br>

            <div class="form-group">
                <h5><b>Department</b></h5>
                dummyDept
            </div>
            <br>

            <div class="form-group">
                <h5><b>Email</b></h5>
                studentEmail
            </div>
            <br>

        </fieldset>
    </div>
    <hr>
{% endblock content %}




