{% extends "layout.html" %}
{% block content %}
<html itemscope itemtype="http://schema.org/Article">
<body>
        <hr>
    <div class = "col s12" style="width: 100%; float:center; height:100%;">

        <br>
        <h4 class="center-align"><b>Open Positions</b></h4>
        <br>

           {% for i in range(0, total) %}

                <div class="card amber lighten-4">
                    <fieldset class="form-group">
                        <h5><b>Position: {{ title_list[i] }}</b></h5>
                        <h6><b>Vacancies:</b>  {{ vacancies_list[i] }}</h6>
                        <h6><b>Description:</b>  {{ description_list[i] }}</h6>
                        <h6><b>Start Date:</b>  {{ start_date_list[i] }}</h6>
                        <br>

                        <div class="center-align form-group" style="display:inline">
                            <b><a class="center-align hoverable waves-effect waves-light btn amber black-text" href = "{{ url_for('apply_for_job', job_id=L_id[i]) }}"> Apply </a></b>
<!--                            <b><a class="button-border hoverable waves-effect waves-light btn-large blue black-text" href = "{{ url_for('get_candidates', job_id=L_id[i]) }}"> View Candidates</a></b>-->
                        </div>

                        <div class="center-align form-group" style="dislay:inline">

                        </div>
                    </fieldset>
                </div>

           {% endfor %}
           </div>
</body>
</html>

{% endblock content %}




