{% extends "layout.html" %}
{% block content %}
<div id="main">
  <div class="dim">
        <div id="card-stats">
              <div class="row">
                <div class="col s12">
                  <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                      <div class="col s7 m7">

                        <p>Projects</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0">4</h5>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col s12 m6 l3">
                  <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                      <div class="col s7 m7">

                        <p>Current Impact Score</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0">1.65</h5>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3">
                  <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                      <div class="col s7 m7">
                        <p>Current Rank In BTech Research Projects</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0">12</h5>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3">
                  <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                      <div class="col s7 m7">

                        <p>Coins Earned So Far</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0">65</h5>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--card widgets start-->
            <div id="card-widgets">
              <div class="row">
                <div class="dim col s7">
                  <ul id="task-card" class="collection with-header">
                    <li class="collection-header teal accent-4">
                      <h4 class="task-card-title">My Task</h4>
                      <p class="task-card-date">January 30, 2020</p>
                    </li>
                    <li class="collection-item dismissable">
                      <input type="checkbox" id="task1" />
                      <label for="task1">EWL-Biweekly Report
                      </label>
                      <span class="task-cat cyan">Report</span>
                    </li>
                    <li class="collection-item dismissable">
                      <input type="checkbox" id="task2" />
                      <label for="task2">Survey Paper-Publication Submission

                      </label>
                      <span class="task-cat red accent-2">Publication</span>
                    </li>

                    <li class="collection-item dismissable">
                      <input type="checkbox" id="task4"  />
                      <label for="task4">BCT Project Report Submission</label>
                      <span class="task-cat cyan">Report</span>
                    </li>
                  </ul>
                </div>
                <div id="work-collections">

                <div class="col s5">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">card_travel</i>
                      <h6 class="collection-header m-0">Projects</h6>

                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Earn While Learn</p>
                          <p class="collections-content">Mentor: Dr Dhiren Patel</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat cyan">Ongoing</span>
                        </div>
                      </div>
                    </li>

                    <li class="collection-item">
                      <div class="row">
                        <div>
                          <p class="collections-title">Survey Paper</p>
                          <p class="collections-content">Mentor: Dr Dhiren Patel</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat cyan">Ongoing</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">BCT Project</p>
                          <p class="collections-content">Mentor: Dr Dhiren Patel</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat cyan">Ongoing</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">MIS Project</p>
                          <p class="collections-content">Mentor: Dr P M Chawan</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat deep-orange accent-2">Completed</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>


              </div>
              </div>
        </div>
      </div>

    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins.js') }}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom-script.js') }}"></script>
 {% endblock content %}