


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>EWL</title>
      {% endif %}
    <!-- Favicons-->
    <link rel="icon" href="./../static/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="./../static/images/favicon/apple-touch-icon-152x152.png">

    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="{{ url_for('static',filename='css/custom/custom.css') }}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{{ url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendors/flag-icon/css/flag-icon.min.css')}} " type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img  src="{{ url_for('static', filename='images/logo/vjti-logo.png') }}" >
                    <span class="logo-text hide-on-med-and-down">EWL</span>
                  </a>
                </h1>
              </li>
            </ul>

            <ul class="right hide-on-med-and-down">


              <li>
                <a href="/logout"  class="waves-effect waves-block waves-light chat-collapse">
                  Logout
                </a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details red darken-2">
              <div class="row">
                <div class="col col s4 m4 l4">
                  <img src="{{ url_for('static',filename='images/avatar/Ritu.jpg') }}" alt="" class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">

                  <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" >Anna</a>
                  <p class="user-roal">Student</p>
                </div>
              </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                  <a href="{{ url_for('dashboard') }}" class="waves-effect waves-cyan">
                      <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="{{ url_for('add_project') }}" class="waves-effect waves-cyan">
                      <span class="nav-text">Add Project</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="{{ url_for('view_projects') }}" class="waves-effect waves-cyan">
                      <span class="nav-text">View Projects</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="ui-basic-buttons.html" class="waves-effect waves-cyan">
                      <span class="nav-text">View Research Ranklist</span>
                    </a>
                </li>
                
                <li class="bold">
                  <a href={{url_for('get_open_jobs')}} class="waves-effect waves-cyan">

                      <span class="nav-text">Apply for jobs</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="form-layouts.html" class="waves-effect waves-cyan">

                      <span class="nav-text">Account</span>
                    </a>
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <main role="main" class="main-div">
      <div class="row">
        <div class="col s12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %} {% endblock %}
        </div>
      </div>
    </main>

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer gradient-45deg-light-blue-cyan">
        <div class="footer-copyright">
          <div class="container">
            <span>Designed by NERR</span>

          </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins.js') }}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom-script.js') }}"></script>
  </body>
</html>
