{% extends "layout.html" %}
{% block content %}
<div id="card-widgets">
              <div class="row">
                <div class="col s12 m6 l6">
                  <ul id="task-card" class="collection with-header">
                    <li class="collection-header teal accent-4">
                      <h4 class="task-card-title">Research Ranklist</h4>

                    </li>
                    <li class="collection-item dismissable">

                      <p>1. 171071054</p>
                      <span class="task-cat cyan">5.25</span>
                    </li>
                    <li class="collection-item dismissable">

                      <p>2. 171071045</p>

                      <span class="task-cat red accent-2">4.25</span>
                    </li>

                    <li class="collection-item dismissable">

                      <p>3. 171071059</p>
                      <span class="task-cat cyan">1.65</span>
                    </li>
                  </ul>
                </div>
                <div id="work-collections">


              </div>


              </div>

            <!--card widgets end-->

            <!--work collections start-->


            </div>
{% endblock content %}
