{% extends "layout.html" %}
{% block content %}

<head>
    <script src="static/js/pdfobject.js"></script>
</head>

        <div class="row valign wrapper">
            <div class="col s4">
                <h3 class="account-heading black-text"><b>Welcome, </b>studentName</h3>
            </div>

            <div>
                <p>These are the following documents that need your attention:</p>
                <div class="center-align form-group">
                    <h3>Verify Reports</h3>
                    <div class="form-group center-align">


                        <br>
                        {% for i in range(0, total_vr) %}
                            <b><a href = "{{ url_for('verify_report' ,  p_id = p_id_vr[i], report_name = report_name_vr[i] ) }}" class="button-border hoverable waves-effect waves-light btn-large amber black-text">{{vr_topic_list[i]}} </a></b>
                        {% endfor %}
                    </div>
                </div>
                <div class="center-align form-group">
                    <h3>Verify Publications</h3>
                    <br>
                        {% for i in range(0, total_vp) %}
                            <b><a href = "{{ url_for('verify_publication' ,  p_id = p_id_vp[i] ) }}" class="button-border hoverable waves-effect waves-light btn-large amber black-text">{{vp_topic_list[i]}} </a></b>
                        {% endfor %}
                </div>
            </div>
        </div>


    
    <hr>
{% endblock content %}




