{% extends "layout.html" %}
{% block content %}
<html itemscope itemtype="http://schema.org/Article">
<body>


        <fieldset class="form-group">

            <div class = "dim card light-blue accent-2 hoverable col s6">
                <br/>
                <form method="POST" >
                    <div class="card lighten-1">
                        <div class="card-content black-text">
                            <span class="card-title"></span>
                            <ul class="collection">
                                <li class="collection-item"><b>Title: {{project_topic}}</b>
                                </li>
                                <li class="collection-item"><b>Students: </b>
                                    {% for student in students %}
                                    <a href="#" class="<waves-effect waves-light btn amber black-text">{{ student }}</a>
                                    {% endfor %}
                                </li>

                            </ul>
                        </div>
                        <div class="card-action">
                            {% if user_type=='student' %}
                                <a href= {{url_for("update_project",id=project['_id'])}} class="btn amber black-text center">Update Project</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group center-align" style="display:inline">
                        <b> {{ form.verify(class="button-border hoverable waves-effect waves-light btn-large blue lighten-3 black-text") }} </b>
                     </div>

                    <div class="form-group center-align"  style="display:inline">
                        <b> {{ form.not_verify(class="button-border hoverable waves-effect waves-light btn-large blue lighten-3 black-text") }} </b>
                     </div>
                </form>

                <br>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                <br>
            </div>


            

        </fieldset>
    </div>
   </body>
</html>

{% endblock content %}