{% extends "layout.html" %}
{% block content %}
<html itemscope itemtype="http://schema.org/Article">
<body>

    <div class = "child-div card amber lighten-4 col s7" style="width: 68%; float:right; overflow-y:scroll; height:100%; ">
        <fieldset class="form-group">

            <div class = "dim card amber accent-2 hoverable col s12">
                <br/>
                <form method="POST" action="#">


                <span class="col s12">
                    <h6><b>Verify Publication</b></h6>
                    <div class="form-group col s4">
                     {{ form.topic.label(class="form-control-label") }}
                     {% if form.topic.errors %}
                         {{ form.topic(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.topic.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.topic(class="form-control form-control-lg" , value= topic  ) }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.publicationJournal.label(class="form-control-label") }}
                     {% if form.publicationJournal.errors %}
                         {{ form.publicationJournal(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.publicationJournal.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.publicationJournal(class="form-control form-control-lg", value = publicationJournal) }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.DOI.label(class="form-control-label") }}
                     {% if form.DOI.errors %}
                         {{ form.DOI(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.DOI.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.DOI(class="form-control form-control-lg", value=DOI) }}
                     {% endif %}
                    </div>

                </span>
                    <div class="form-group">
                        <b> {{ form.verify(class="button-border hoverable waves-effect waves-light btn-large blue lighten-3 black-text") }} </b>
                     </div>

                    <div class="form-group">
                        <b> {{ form.notVerify(class="button-border hoverable waves-effect waves-light btn-large blue lighten-3 black-text") }} </b>
                     </div>



                </form>

                <br>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                <br>
            </div>


            

        </fieldset>
    </div>
   </body>
</html>

{% endblock content %}