{% extends "layout.html" %}
{% block content %}
<html itemscope itemtype="http://schema.org/Article">
<body>

    <div class = "child-div card amber lighten-4 col s7" style="width: 68%; float:right; overflow-y:scroll; height:100%; ">
        <fieldset class="form-group">
            <br>
           
           {% for i in range(0, total) %}

                <div class="form-group center-align">
                    <h5><b>{{ topic_list[i] }}</b></h5>
                    <i>Status:</i> Submitted for publication  <br>
                    <br>
                    {% for file in file_lists[i] %}
                        <embed src="./static/documents/{{ file }}" type="application/pdf" height="400px" width="80%"> 
                        <hr>
                    {% endfor %}
                </div>
                <br>
                
                <div class = "dim">

                <br>

                <span class="col s12">
                    <h6><b>Review Details</b></h6>
                    <div class="form-group col s4">
                     {{ form.publishedStatus.label(class="form-control-label") }}
                     {% if form.publishedStatus.errors %}
                         {{ form.publishedStatus(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.publishedStatus.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.publishedStatus(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.publication.label(class="form-control-label") }}
                     {% if form.publication.errors %}
                         {{ form.publication(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.publication.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.publication(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.DOI.label(class="form-control-label") }}
                     {% if form.DOI.errors %}
                         {{ form.DOI(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.DOI.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.DOI(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                </span>

                <span class="col s12">
                    <h6><b> Grade </b></h6>
                    <div class="form-group col s4">
                     {{ form.effort.label(class="form-control-label") }}
                     {% if form.effort.errors %}
                         {{ form.effort(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.effort.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.effort(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.novelty.label(class="form-control-label") }}
                     {% if form.novelty.errors %}
                         {{ form.novelty(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.novelty.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.novelty(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                    <div class="form-group col s4">
                     {{ form.relevance.label(class="form-control-label") }}
                     {% if form.relevance.errors %}
                         {{ form.relevance(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.relevance.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.relevance(class="form-control form-control-lg") }}
                     {% endif %}
                    </div>

                </span>

                <div class="center-align form-group">
                    <b><a href = "{{ url_for('verify_project') }}"> {{ form.update(class="button-border hoverable waves-effect waves-light btn-large amber black-text") }}</a></b>
                </div>
            </form>
        </form>
                </p>
                </div>
                <br>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                <br>


           {% endfor %}

            

        </fieldset>
    </div>
   </body>
</html>

{% endblock content %}